.menu .calendar_panel{
    position: relative;
    top:220px;
    left:170px;
    display: none;
    width: 288px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(128, 158, 191, 0.2);
    border-radius: 10px;
    z-index: 10;
}
.calendar {
    width: 100%;
    height: 210px;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    border-spacing: 0px;
    background: #F3F8FD;
}
/* Days */
.calendar thead tr:last-child {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.calendar thead tr:nth-child(1) td:nth-child(2) {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.calendar thead tr:nth-child(1) td:nth-child(1):hover,
.calendar thead tr:nth-child(1) td:nth-child(3):hover,
.calendar tbody td:hover {
    cursor: pointer;
}
.calendar thead tr:nth-child(1) td:nth-child(1),
.calendar thead tr:nth-child(1) td:nth-child(3)
{
    position: relative;
}
.calendar thead tr:nth-child(1) td:nth-child(1)::after,
.calendar thead tr:nth-child(1) td:nth-child(3)::after
{
    display: block;
    content: '';
    width: 23px;
    height: 23px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
}
.calendar thead tr:nth-child(1) td:nth-child(1)::after{
    left:16px;
    background-image: url('../images/sprite_brighta.png');
    background-position: -648px -26px;
}
.calendar thead tr:nth-child(1) td:nth-child(1):hover::after,
.calendar thead tr:nth-child(1) td:nth-child(3):hover::after
{
    border: none;
    box-shadow: 0 0 5px black;
}
.calendar thead tr:nth-child(1) td:nth-child(3)::after{
    right:16px;
    background-image: url('../images/sprite_brighta.png');
    background-position: -681px -25px;
}
.calendar thead tr:nth-child(1){
    height: 50px;
}
.calendar tbody td {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    height: 36px;
    position: relative;
}
.calendar tbody td:hover{
    background-color: #DFE9F3;
    border-radius: 50%;
}
.calendar tbody td:nth-child(n+6),
.calendar .holiday {
    color: red;
}
.calendar tbody td.today {
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(115, 161, 146);
}
.calendar_panel .buttons{
    position: absolute;
    top:295px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.calendar_panel .buttons button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
}
.calendar_panel .buttons button:nth-child(1){
    width: 130px;
    height: 45px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
    margin-left: 11px;
}
.calendar_panel .buttons button:nth-child(1):hover{
    background-color: black;
    color:#ffffff;
}
.calendar_panel .buttons button:nth-child(2){
    width: 130px;
    height: 45px;
    background: rgba(255, 116, 57, 0.5);
    border-radius: 7px;
    margin-right: 11px;
    border: none;
    color:#ffffff;
}
.calendar_panel .buttons button:nth-child(2):hover{
    background-color: #F16E36;
}
.main_page .choice{
    position: absolute;
    width: 223px;
    height: 41px;
    left: 410px;
    top: 201px;
    background-color: #586375;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_page .choice div:nth-child(1){
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    color: #ffffff;
    margin-left: 10%;
}
.main_page .choice .close{
    width: 27px;
    height: 27px;
    left: 600px;
    top: 208px;
    background-image: url('../images/close.svg');
    border-radius: 50%;
    justify-self: right;
    margin-right: 8px;
}
.main_page .choice .close:hover{
    box-shadow: 0 0 5px #ffffff;
    cursor: pointer;
}
.calendar_panel .mask{
    width: 100%;
    height: 228px;
    position: absolute;
    top:67px;
    left: 0px;
    border-spacing: 0px;
}
.calendar_panel .mask td{
    height: 36px;
    background-color:'';
}