.logo{
    position: absolute;
    width: 83.61px;
    height: 15.78px;
    left: 38px;
    top: 25.93px;
    background-image: url('../images/sprite_brighta.png');
    background-position: -35px -30px;
}
.beta{
    position: absolute;
    width: 31px;
    height: 18px;
    left: 130.4px;
    top: 26px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    color: #000000;
}
.bell{
    position: absolute;
    width: 85px;
    height: 85px;
    left: 1561px;
    top: 10px;
    background-image: url('../images/sprite_brighta.png');
    background-position: -140px -30px;
}
.select_name{
    background: none;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    box-shadow: 0px 10px 40px rgba(213, 221, 230, 0.6);
    width: 100%;
    height: 100%;
    padding-left: 30px;
}
.select_one{
    width: 120px;
    height: 43px;
    position: relative;
    left: 1655px;
    top: 20px;
    background: #FFFFFF;
    border-radius: 100px;
}
.select_one::after{
    content: '';
    display: block;
    width: 11px;
    height: 6px;
    background-image: url('../images/Vector.svg');
    position: absolute;
    top:19px;
    left: 92px;
}
.search{
    position: absolute;
    width: 43px;
    height: 43px;
    left: 1790px;
    top: 20px;
    border-radius: 100px;
    background: rgba(203, 215, 228, 0.4);
    background-image: url('../images/sprite_brighta.png');
    background-position: -287px -18px;
}
.select_language{
    background: none;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    box-shadow: 0px 10px 40px rgba(213, 221, 230, 0.6);
    width: 100%;
    height: 100%;
    padding-left: 13px;
}
.select_two{
    width: 64px;
    height: 43px;
    position: relative;
    left: 1850px;
    top: -25px;
    background: rgba(203, 215, 228, 0.4);
    border-radius: 100px;
}
.select_two::after{
    content: '';
    display: block;
    width: 11px;
    height: 6px;
    background-image: url('../images/Vector.svg');
    position: absolute;
    top:19px;
    left: 40px;
}